$myVariable: pink;
@mixin name {
    color:white;
    background: yellowgreen;
}

h1{
    color: $myVariable;
}

.btn{
    padding:20px;
    border-radius: 10px;
    font-size: 25px;

&:hover{
    background:black;
    color: white;
}

&-danger{
    background: brown;
    color: grey;
}


}


